<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbq.provider.mapper.BankAccountMapper">
    <!--################################ Mybatis逆向工程生成,请勿编辑! ################################-->
    <resultMap id="BaseResultMap" type="com.dbq.common.model.BankAccount">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="rank" jdbcType="INTEGER" property="rank"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="active" jdbcType="BIT" property="active"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, bank, create_time, update_time, score, rank, money, active
    </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from bank_account
        where id = #{id,jdbcType=INTEGER}
    </select>


</mapper>
