<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbq.consumer.mapper.BankUserMapper">
    <resultMap id="BaseResultMap" type="com.dbq.common.model.BankUser">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
    </resultMap>

    <cache type="PERPETUAL" eviction="LRU" size="60" blocking="false" flushInterval="24" readOnly="false"/>


    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, username, birthday, address, age, sex, phone_number, email, idcard
    </sql>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM BANK_USER WHERE USER_ID = #{userId,jdbcType=INTEGER}
    </select>

</mapper>